/*This is called external styling and it is better than internal and inline styling */

h1 {
    color: red;
    background-color: blue;
    text-align: center;
}

p {
    color: blue;
}

/*This styles anchor tag in my html */
a {
    color: darkgreen;
    font-size: 50px;
    
}